<div class="d-flex flex-column flex-column-fluid" data-select2-id="select2-data-131-dzps">
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content  flex-column-fluid " data-select2-id="select2-data-kt_app_content">


        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container  container-xxl "
            data-select2-id="select2-data-kt_app_content_container">
            <!--begin::Form-->
            <form id="kt_ecommerce_edit_order_form"
                class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework"
                data-kt-redirect="/metronic8/demo1/apps/ecommerce/sales/listing.html"
                data-select2-id="select2-data-kt_ecommerce_edit_order_form">
                <!--begin::Aside column-->
                <!--end::Aside column-->

                <!--begin::Main column-->
                <div class="d-flex flex-column flex-lg-row-fluid gap-7 gap-lg-10">
                    <!--begin::Order details-->
                    <div class="card card-flush py-4">
                        <!--begin::Card header-->
                        <div class="card-header" style="display: block;">
                            <div class="row justify-content-between">
                                <div class="col-6 d-flex align-items-center">
                                    <h2 class="d-flex align-items-center">
                                        <i class="ki-duotone ki-file-added fs-2tx">
                                            <span class="path1"></span><span class="path2"></span>
                                        </i> Datos Generales :
                                    </h2>
                                </div>
                                <div class="col-5">
                                    <button class="btn btn-sm mx-1 btn-primary" placement="top-start"
                                        ngbTooltip="Buscar">
                                        <i class="ki-duotone ki-magnifier fs-2"><span class="path1"></span><span
                                                class="path2"></span></i>
                                    </button>
                                    <button class="btn btn-sm mx-1 btn-dark" placement="top-start" ngbTooltip="Limpiar">
                                        <i class="ki-duotone ki-arrows-circle fs-2"><span class="path1"></span><span
                                                class="path2"></span></i>
                                    </button>
                                    <button class="btn btn-sm mx-1 btn-info" placement="top-start" ngbTooltip="Agregar">
                                        <i class="ki-duotone ki-add-folder fs-2"><span class="path1"></span><span
                                                class="path2"></span></i>Importar Datos de Venta
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--end::Card header-->

                        <!--begin::Card body-->
                        <div class="card-body pt-0">
                            <div class="row mb-3">
                                <div class="col-2">
                                    <label class="form-label">Exportación:</label><br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="exportacion" value="No"
                                            checked>
                                        <label class="form-check-label">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="exportacion" value="Si">
                                        <label class="form-check-label">Si</label>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <label class="form-label">N° de Venta/Cotización:</label>
                                    <input type="text" class="form-control" placeholder="Ingrese el N° Venta a Emitir">
                                </div>

                                <div class="col-3">
                                    <label class="form-label">Fecha de Emisión:</label>
                                    <input type="date" class="form-control" value="23/09/2025">
                                </div>

                                <div class="col-4">
                                    <label class="form-label">Clientes:</label>
                                    <select class="form-select">
                                        <option selected>Fuminsumos</option>
                                        <option>Business Max</option>
                                        <option>Qallpa Tic</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-5">
                                    <label class="form-label">Retenciones IGV:</label><br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="retencion" checked>
                                        <label class="form-check-label">Ninguno</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="retencion">
                                        <label class="form-check-label">Retención</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="retencion">
                                        <label class="form-check-label">Detracción</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="retencion">
                                        <label class="form-check-label">Percepción</label>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <label class="form-label">Anticipo:</label><br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="anticipo" checked>
                                        <label class="form-check-label">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="anticipo">
                                        <label class="form-check-label">Sí</label>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <label class="form-label">Tipo:</label>
                                    <select class="form-select">
                                        <option selected>Factura</option>
                                        <option>Boleta</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <label class="form-label">N° y Serie:</label>
                                    <input type="text" class="form-control" value="E001-125">
                                </div>
                            </div>
                        </div>
                        <!--end::Card body-->
                    </div>

                    <!--end::Order details-->
                    <!--begin::Order details-->

                    <div class="card card-flush py-4">
                        <div class="card-header" style="display:block;">
                            <div class="row justify-content-between">
                                <div class="col-6">
                                    <h2 class="d-flex align-items-center">
                                        <i class="ki-duotone ki-questionnaire-tablet text-gray-900 fs-2tx"></i>
                                        &nbsp;Datos del Producto
                                    </h2>
                                </div>
                            </div>
                        </div>

                        <div class="card-body pt-0">
                            <!-- Form de alta de item -->
                            <form [formGroup]="formItem" (ngSubmit)="agregarItem()">
                                <div class="row g-4 align-items-end">
                                    <div class="col-12 col-md-5">
                                        <label class="form-label">Producto</label>
                                        <select class="form-select" formControlName="productoId">
                                            <option [ngValue]="null">-- Selecc. Producto --</option>
                                            <option *ngFor="let p of productos" [ngValue]="p.id">{{ p.nombre }}</option>
                                        </select>
                                        <div class="form-text"
                                            *ngIf="formItem.get('productoId')?.invalid && formItem.get('productoId')?.touched">
                                            Selecciona un producto.
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <label class="form-label">Tipo de operación</label>
                                        <select class="form-select" formControlName="tipoOperacion">
                                            <option *ngFor="let t of tiposOperacion" [ngValue]="t.value">{{ t.label }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-6 col-md-2">
                                        <label class="form-label">Precio Base</label>
                                        <input type="number" step="0.01" min="0" class="form-control"
                                            formControlName="precioBase">
                                    </div>

                                    <div class="col-6 col-md-2">
                                        <label class="form-label">Cantidad</label>
                                        <input type="number" min="1" class="form-control" formControlName="cantidad">
                                    </div>

                                    <div class="col-12 col-md-1 d-grid">
                                        <button class="btn btn-success" type="submit">
                                            <i class="ki-duotone ki-plus fs-2"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div class="separator my-6"></div>

                            <!-- Tabla de detalle -->
                            <div class="table-responsive">
                                <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
                                    <thead>
                                        <tr class="fw-bold text-muted">
                                            <th class="min-w-150px">Producto</th>
                                            <th class="min-w-120px">Unidad</th>
                                            <th class="min-w-120px">Tipo Op.</th>
                                            <th class="min-w-120px">Precio Unit.</th>
                                            <th class="min-w-120px">Cantidad</th>
                                            <th class="min-w-120px">SubTotal</th>
                                            <th class="min-w-120px">IGV</th>
                                            <th class="min-w-120px">Total</th>
                                            <th class="min-w-100px text-end">Acción</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let it of items">
                                            <td>
                                                <a class="text-gray-900 fw-bold text-hover-primary fs-6"
                                                    (click)="$event.preventDefault()">
                                                    {{ it.productoNombre }}
                                                </a>
                                            </td>
                                            <td><span class="text-muted fw-semibold d-block fs-7">{{ it.unidad }}</span>
                                            </td>
                                            <td><span class="text-muted fw-semibold d-block fs-7">{{ it.tipoOperacion
                                                    }}</span></td>

                                            <td>
                                                <a class="text-gray-900 fw-bold text-hover-primary d-block mb-1 fs-6"
                                                    (click)="$event.preventDefault()" style="text-wrap:nowrap;">
                                                    {{ it.precioUnitario |
                                                    currency:'PEN':'symbol-narrow':'1.2-2':'es-PE' }}
                                                </a>
                                            </td>

                                            <td>
                                                <a class="text-gray-900 fw-bold text-hover-primary d-block mb-1 fs-6"
                                                    (click)="$event.preventDefault()">
                                                    {{ it.cantidad }}
                                                </a>
                                            </td>

                                            <td>
                                                <a class="text-gray-900 fw-bold text-hover-primary d-block mb-1 fs-6"
                                                    (click)="$event.preventDefault()" style="text-wrap:nowrap;">
                                                    {{ it.subtotal | currency:'PEN':'symbol-narrow':'1.2-2':'es-PE' }}
                                                </a>
                                            </td>

                                            <td>
                                                <a class="text-gray-900 fw-bold text-hover-primary d-block mb-1 fs-6"
                                                    (click)="$event.preventDefault()" style="text-wrap:nowrap;">
                                                    {{ it.igv | currency:'PEN':'symbol-narrow':'1.2-2':'es-PE' }}
                                                </a>
                                            </td>

                                            <td>
                                                <a class="text-gray-900 fw-bold text-hover-primary d-block mb-1 fs-6"
                                                    (click)="$event.preventDefault()" style="text-wrap:nowrap;">
                                                    {{ it.total | currency:'PEN':'symbol-narrow':'1.2-2':'es-PE' }}
                                                </a>
                                            </td>

                                            <td class="text-end">
                                                <button
                                                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                                                    (click)="eliminarItem(it.idTemp)" title="Eliminar">
                                                    <i class="ki-duotone ki-trash fs-2"></i>
                                                </button>
                                            </td>
                                        </tr>

                                        <tr *ngIf="items.length === 0">
                                            <td colspan="9" class="text-center text-muted">Sin productos agregados.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="separator my-4"></div>

                            <!-- Totales -->
                            <div class="fw-bold fs-4">
                                Subtotal: {{ subTotalGlobal | currency:'PEN':'symbol-narrow':'1.2-2':'es-PE' }} <br>
                                IGV: {{ igvGlobal | currency:'PEN':'symbol-narrow':'1.2-2':'es-PE' }} <br>
                                Total: <span id="kt_ecommerce_edit_order_total_price">
                                    {{ totalGlobal | currency:'PEN':'symbol-narrow':'1.2-2':'es-PE' }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <!--begin::Order details-->

                    <div class="card card-flush py-4">
                        <!-- Header -->
                        <div class="card-header" style="display:block;">
                            <div class="d-flex align-items-center">
                                <h2 class="mb-0 d-flex align-items-center">
                                    <i class="ki-duotone ki-wallet fs-2tx me-2"><span class="path1"></span><span
                                            class="path2"></span></i>
                                    Pagos
                                </h2>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body pt-0">
                            <div class="row g-4 align-items-end">
                                <!-- Tipo -->
                                <div class="col-lg-3 col-md-4">
                                    <label class="form-label mb-2">Tipo:</label><br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="tipoPago" id="tipoContado"
                                            value="contado" checked>
                                        <label class="form-check-label" for="tipoContado">Al contado</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="tipoPago" id="tipoCredito"
                                            value="credito">
                                        <label class="form-check-label" for="tipoCredito">Crédito</label>
                                    </div>
                                </div>

                                <!-- Método de pago -->
                                <div class="col-lg-3 col-md-4">
                                    <label for="metodoPago" class="form-label">Método de Pago:</label>
                                    <select id="metodoPago" class="form-select">
                                        <option selected>Selec. Método</option>
                                        <option>Efectivo</option>
                                        <option>Yape/Plin</option>
                                        <option>Transferencia</option>
                                        <option>Tarjeta</option>
                                    </select>
                                </div>

                                <!-- Monto -->
                                <div class="col-lg-2 col-md-4">
                                    <label for="montoPago" class="form-label">Monto:</label>
                                    <input type="number" step="0.01" id="montoPago" class="form-control" value="0">
                                </div>

                                <!-- Agregar -->
                                <div class="col-lg-1 col-md-3">
                                    <label class="form-label d-block">Agregar:</label>
                                    <button type="button" class="btn btn-success">
                                        <i class="ki-duotone ki-plus fs-2"><span class="path1"></span><span
                                                class="path2"></span></i>
                                    </button>
                                </div>

                                <!-- Guardar venta -->
                                <div class="col-lg-3 col-md-9 d-flex justify-content-lg-end">
                                    <button type="button" class="btn btn-success mt-4 mt-lg-0">
                                        <i class="ki-duotone ki-save-2 me-2"></i> Enviar Factura a Sunat
                                    </button>
                                </div>
                            </div>

                            <!-- Tabla de pagos -->
                            <div class="table-responsive">
                                <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
                                    <thead>
                                        <tr class="fw-bold text-muted">
                                            <th class="min-w-150px">N°</th>
                                            <th class="min-w-140px">Método de Pago</th>
                                            <th class="min-w-120px">Monto</th>
                                            <th class="min-w-100px text-end">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="ng-star-inserted">
                                            <td> <a onclick="return false;"
                                                    class="text-gray-900 fw-bold text-hover-primary fs-6">
                                                    1 </a></td>
                                            <td> <span
                                                    class="text-muted fw-semibold text-muted d-block fs-7">Efectivo</span>
                                            </td>
                                            <td><a onclick="return false;"
                                                    class="text-gray-900 fw-bold text-hover-primary d-block mb-1 fs-6"
                                                    style="text-wrap: nowrap;">399 PEN</a></td>
                                            <td class="text-end"><a onclick="return false;"
                                                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><i
                                                        class="ki-duotone ki-pencil fs-2"><span
                                                            class="path1"></span><span class="path2"></span></i></a><a
                                                    onclick="return false"
                                                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"><i
                                                        class="ki-duotone ki-trash fs-2" style="color: red;"><span
                                                            class="path1"></span><span class="path2"></span><span
                                                            class="path3"></span><span class="path4"></span><span
                                                            class="path5"></span></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Descripción -->
                            <div class="row mt-4">
                                <div class="col-lg-6">
                                    <label for="descripcionPago" class="form-label">Descripción:</label>
                                    <textarea id="descripcionPago" rows="4" class="form-control"
                                        placeholder="Notas o detalle del pago..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--end::Order details-->
                </div>
                <!--end::Main column-->
            </form>
            <!--end::Form-->
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->

</div>